#AboutAdam {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left { flex: 1; }
.right { flex: 1; }

#AboutAdam img { height: 10rem; }

/* Global Overwrites (caution) */
.box {
    margin-bottom: 1rem;
}

/* Mobile Styles */
@media screen and (max-width: 630px) {
    #AboutAdam {
        flex-direction: column;
        align-items: flex-start;
    }
}