
header {
    width: 95%;
    margin: auto;
}
/* Fun Forest Blinkie */
header > img {
    margin-top: 2rem;
    width: 90%;
}

.fun-card {
    padding: .5rem;
    padding-bottom: 2rem;
    background: #005965;
}
.fun-card > div {
    align-items: center;
    padding-top: 2rem;
}

.text-left {
    width: 50%;
}

.text-left > h2 {
    margin-top: 0;
}

.img-right img {
    height: 130px;
    width: 200px;
}

.fun-forest-button {
    color: white;
    padding: .5rem 1rem;
    border: 3px solid lemonchiffon;
    border-radius: 3px;
    background: transparent;
}

.items-divider {
    /* width of image is 31px */
    height: 25px;
    width: 100%;
    background-color: #005965;
    background-image: url('/img/plants/three-sprouts.gif');
    background-repeat: repeat-x;
}

#Forest {
    height: 20rem;
}

#Doorway {
    height: 120px;
    position: absolute;
    transform: translateY(-75px);
    pointer-events: none;
    z-index: 1;
}

#Bonsly {
    transform: translate(6px, -18px);
    z-index: 100;
}


/* Forest Responsive Styles */
@media only screen and (max-width: 770px) {
    #cedar-04 { display: none; }
}

@media only screen and (max-width: 576px) {
    #cedar-03 { display: none; }
}

@media only screen and (max-width: 370px) {
    #Forest {
        justify-content: center;
    }
}


/* These are Global overrides! this stylesheet is linked after Globals so it can change Global.css effects  */
main {
    position: relative;
    padding: 0;
}

.header-img {
    height: 75px;
    margin-left: 10px;
    transform: translateY(12px); /* Gnome positioning */
}

#header {
    justify-content: flex-start;
}