
header {
    width: 95%;
    margin: auto;
}

.fun-card {
    padding: .5rem;
    background: #007a8b;
}
.img-right img {
    height: 130px;
    width: 100px;
}

#Forest {
    height: 20rem;
}

#Doorway {
    height: 120px;
    position: absolute;
    transform: translateY(-75px);
    pointer-events: none;
    z-index: 1;
}

#Bonsly {
    transform: translate(6px, -18px);
    z-index: 100;
}


/* Forest Responsive Styles */
@media only screen and (max-width: 770px) {
    #cedar-04 { display: none; }
}

@media only screen and (max-width: 576px) {
    #cedar-03 { display: none; }
}

@media only screen and (max-width: 370px) {
    #Forest {
        justify-content: center;
    }
}


/* These are Global overrides! this stylesheet is linked after Globals so it can change Global.css effects  */
main {
    position: relative;
    padding: 0;
}

.header-img {
    height: 75px;
    margin-left: 10px;
    transform: translateY(12px);
}

#header {
    justify-content: flex-start;
}