#ToyBox h1 {
    margin-bottom: 0; 
}

#ToyBox p {
    margin-top: 0;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
    width: 100%;
    margin-top: 2rem;
}

.image-container {
    text-align: center;
}

.image-container img {
    max-height: 150px;
    max-width: 150px;
}

.search-container {
    width: 100%;
}

.search-container input {
    height: 2.25rem;
}

#QuickReturn {
    display: flex;
}
#QuickReturn img {
    height: 40px;
    width: 40px;
    margin-left: 1rem;
} 