#PlaqueWrapper { 
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%
}

#ToadForman {
    height: 6rem;
    transform: translate(-28px, 5px);
}

#CommemorativePlaque {
    font-family: 'Kode Mono', serif;
    padding: 1rem;
    background: rgb(97, 97, 97);
    /* background-image: url('/img/backgrounds/lavendarnoise.gif'); */
    width: 17rem;
    border: 3px solid rgb(215, 215, 215);
    border-style: inset;
    box-shadow: -2px 2px 4px rgb(0, 0, 0, 0.5);
}
#CommemorativePlaque h2 {
    color: white;
    margin: 0;
}

#Train {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    min-height: 40vh;
    width: 100%;
    background-image: url('/img/wallpapers/train-tracks.png');
    background-position: bottom;
    border-radius: 5px 5px 0px 0px;
}
.train-station-img {
    height: 20rem;
}
.train-img {
    height: 8rem;
    transform: translateY(17px);
}

#Destinations {
    margin-top: 1rem;
    display: flex;
}

#Destinations header {
    flex: 2;
}

#DestinationButtons {
    flex: 1;
    overflow: scroll;
    max-height: 20rem;
}

/* Mobile Styles for Train img stuff */
@media screen and (max-width: 508px) {
    .train-station-img {
        height: 14rem;
    }
    .train-img { 
        height: 5rem; 
        transform: translateY(11px);
    }
}

@media screen and (max-width: 460px) {
    #Train {
        min-height: 14rem;
        background-position: center
    }
}

@media screen and (max-width: 362px) {
    .train-station-img {
        height: 12rem;
    }
}