---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="Info Booth" headerImage="/img/pokemon-gifs/skit.gif">
  <main>
    <h1>Information Booth</h1>

    <div id="AboutAdam" class="box">
      <div class="left">
        <div id="AboutPhotos">
          <div id="Landscape">
            <img src="/img/pointing-ashore.JPEG" alt="me pointing out across a vast ocean landscape"/>
          </div>
          <div id="Me">
            <img id="Avatar" src="/img/pixel_me.PNG" alt="An artistic representation of me. Created by Flonne Pocket of vivarism.net">
            <div class="flex align-center">
                <p style="margin: 0; margin-right: .5rem; font-weight: 200;"><small>Feeling:</small></p>
                <a style="height: 17px" href="https://www.imood.com/users/adamsland"><img id="iMood" src="https://moods.imood.com/display/uname-adamsland/fg-ffffff/trans-1/imood.gif" alt="The current mood of adamsland at www.imood.com" border="0"></a>
            </div>
          </div>
        </div>
      </div>

      <div class="right">
          <p>
              Adam had the idea to found Adamsland back in September of 2021, and he's been slowly developing this land since then.
          </p>
          <p>
              Adam loves creating fun and interesting projects, reading many books, and following the path of Theosis.
              He carries a camera with him everywhere and captures moments that he finds special.
          </p>
          <div id="AboutButtons" class="flex">
              <img src="/img/link-buttons/adamsland.png" alt="adams land 81x33 website share/link button">
              <img src="/img/collection/picto.gif" alt="I miss using pictochat">
              <a href="https://www.ifixit.com/"> <img src="/img/88x31/right2repair.png" alt="I support right to repair"> </a>
              <a href="https://github.com/AdamDavisDeveloper"><img src="img/88x31/github-button.gif" alt="Github"></a>
              <img src="/img/88x31/made-by-hand.jpg" alt="Gossips Web - Made by Hand">
              <img src="/img/collection/crow.gif" alt="crow">
          </div>
      </div>
  </div>
  
  <h1 style="margin-top: 3rem;">Adamsland Official Press</h1>

  <div class="box">
      <div class="title-date-header">
        <h3>Life Updates + Future of Adamsland</h3>
        <span>July 7th, 2026</span>
      </div>

      <p>
        I've been so busy this year with a spiritual re-enchantment, reading endless stacks of books, making film and digital photos,
        building tech projects to solve my problems, and learning to be slow, thoughtful, and at peace throughout the day.
        <img class="press-pic float-right" src="/img/sunflower-backlit.JPEG" alt="backlit sunflower photo">
      </p>

      <p>
        Oddly enough, I have accidentally conditioned myself into what appears to be a sort of agoraphobia. I haven't had even
        a single friend in years. The company I work for is 100% remote and I mostly stay inside and work on projects or read books/substack
        in the evenings. Although this sounds more unhealthy and lonely than it really is - I'm in a very happy romantic relationship, I have
        a few long-distance friends, and an awesome family I get to visit twice every year. But I can't deny that going outside
        is a chore in itself and even though I truly love people, the thought of interacting with strangers is nerve inducing these days.
        Even though third-spaces and opportunities to meet new people are hard to find, I want to make an effort where I can. I've never
        let fear stop me before.
      </p>

      <p>
        <span class="oblique">Concerning Adamsland:</span> Updates here have historically been sparce.
        I love this little website very much- more than it would seem for how little I work on it- but
        I've been excited about many new ideas, new things I'm learning, and art I'm making, so I want to start
        treating this land the way it deserves. I really want to add a section for my photography because
        sharing it on social media isn't fun at all. I'd love to make some interactive games and widgets
        as well, and introduce more canon characters to the website (maybe even making a directory of residents~).
        Anyway, this message is mostly to prove that I'm still alive. :)
      </p>
      <p>You're always welcome in Adamsland. Thanks for reading.</p>

    </div>
  </main>
</BaseLayout>
