---
import BaseLayout from '../layouts/BaseLayout.astro';
import '../styles/contact.css';
---
<BaseLayout tabTitle="Post Office" headerImg="/img/world.gif">
  <div id="MainWrapper">
      <main>
          <h1>Post Office 📮</h1>
          <div class="box flex">
              <div class="left">
                <header>
                  <h2>Contact Adam</h2>
                </header>
                <form id="ContactForm" name="contact" netlify>
                    <p>
                      <label>Name <input type="text" name="name" /></label>
                    </p>
                    <p>
                      <label>Email <input type="email" name="email" /></label>
                    </p>
                    <p>
                      <label>Message <textarea name="message" cols="30" rows="3"></textarea></label>
                    </p>
                    <p style="max-width: 17rem;">
                      <label style="display: initial;"><input type="checkbox" name="guestbook"> Display your message on Adams Land Guestbook (when it's available)</label>
                    </p>
                    <p>
                    <label>Current Minutes (0-59) 🕰<input id="minute" name="verification" /></label>
                    </p>
                    <div id="errorMessage">
                        <p style="color: brown;">Sorry, we can't send your message until the current minutes input matches your device's time in minutes.</p>
                    </div>
                    <p>
                      <button type="submit">Send via Fungi Priority+</button>
                    </p>
                  </form>
              </div>
              <div class="right">
              </div>
          </div>
      </main>    
  </div>
</BaseLayout>
