---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/vn-engine.css";
import demoBootUrl from "../lib/vn/demo-boot.js?url";

const h = `<script slot="scripts" type="module" src={demoBootUrl}></script>`
---

<BaseLayout tabTitle="VN Test" headerImg="/img/stamps/clouds.png">
    <div id="vn-stage"></div>
    <script slot="scripts" type="module" src={demoBootUrl}></script>
</BaseLayout>
