---
// Nothing yet
---
<nav id="navbar" style="margin-bottom: 0px;">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about.html">Info</a></li>
        <li><a href="/fun.html">Fun</a></li>
        <li><a href="/explore/">Explore</a></li>
        <li><a href="/contact.html">Contact</a></li>
    </ul>
</nav>
