#AboutMe {
	padding: 0 5%;
	height: 100vh;
	font-family: "Questrial", sans-serif;
	header {
		border-bottom: 5px solid rgb(55, 59, 122);
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		a {
			color: rgb(55, 59, 122);
		}
	}
	.about-header {
		font-size: 2rem;
		color: rgb(55, 59, 122);
		margin-top: 1.5rem;
		margin-bottom: 0.75rem;
	}
	#AboutInfo {
		display: flex;
		justify-content: center;
		align-items: flex-start;
		flex-direction: column;
		margin-top: 2rem;
		padding: 0;
		h1 {
			color: rgb(83, 123, 209);
		}

		img {
			width: 30%;
			height: 20%;
		}
	}
	#AboutObject {
		width: 70%;
		p {
			font-size: 1.25rem;
			line-height: 140%;
		}
	}
}
