@font-face {
  font-family: "MADE Gentle";
  src: url("../fonts/MADE\ Gentle.otf") format("otf");
}

#AboutMe {
  h1 {
    font-family: "MADE Gentle";
  }
  header {
    border-bottom: 5px solid rgb(55, 59, 122);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .about-header {
    font-size: 2rem;
    color: rgb(55, 59, 122);
    margin: 1rem;
    margin-top: 2rem;
  }
  #AboutInfo {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 2rem;
    height: 50vh;
    padding-left: 5rem;
    h1 {
      color: rgb(83, 123, 209);
    }
    img {
      width: 150px;
      border: 2px solid rgb(55, 59, 122);
      border-radius: 10px;
      box-shadow: 3px 3px rgb(55, 59, 122);
    }
  }
  #AboutObject {
    display: inline-block;
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 10px;
    line-height: 150%;
    box-shadow: inset 5px 5px 5px #c3c4be, inset -5px -5px 5px #eeeeee;
    p {
      font-family: monospace;
      font-size: 1rem;
      &:not(.brace) {
        text-indent: 14px;
      }
    }
  }
}
