#Guestbook {
	height: 100vh;
	width: 100%;
	background: url(/img/mountains-bg.png);
	background-position: center;
	object-fit: cover;
	display: flex;
	align-items: center;
	justify-content: center;
}

#GuestbookCard {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	width: 60%;
	min-height: 60vh;
	background: #eaab6a;
	border-radius: 20px;
	padding: 2rem 0rem;
	color: white;
	font-family: "Raleway", sans-serif;

	#MainContent,
	#Form {
		justify-content: flex-start;
		flex-direction: column;
		flex: 3;
		h1 {
			font-size: 2rem;
			text-align: center;
			letter-spacing: 0.08em;
			padding-bottom: 0.5rem;
			border-bottom: 4px solid#114B5F;
		}
	}
	#MainContent {
		display: flex;
		align-items: center;
		div {
			width: 100%;
		}
	}
	.emoji-column {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		flex: 1;
		img {
			margin: 1rem 0rem;
		}
	}
}

#Entries {
	margin: 1rem 0rem;
	height: 16rem;
	overflow-y: scroll;
	width: 100%;
	color: black;
	background: #e8e8e8;
	padding: 1rem;
	border: 3px solid #8b8b8b;
	box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.4);
	div {
		margin-bottom: 1.5rem;
	}
	.entry-name {
		font-style: italic;
	}
	.entry-name,
	.entry-message {
		font-size: 1rem;
	}
}

#SignBook,
#SubmitForm {
	border: none;
	border-radius: 10px;
	background: #114b5f;
	color: white;
	font-size: 1.15rem;
	padding: 0.7rem 2rem;
	cursor: pointer;
}

.button-wrapper-flexend {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

// Sign Form
#Form {
	display: none;
	align-items: flex-start;

	header {
		margin-bottom: 1rem;
	}

	.label-input-wrapper {
		display: flex;
		justify-content: center;
		align-items: flex-start;
		flex-direction: column;
		margin-bottom: 1rem;
	}

	label {
		font-size: 1rem;
	}

	input,
	textarea {
		padding: 0.15rem 0rem;
		padding-left: 0.25rem;
		border: none;
		border-bottom: 2px solid #114b5f;
		border-right: 2px solid #114b5f;
		border-radius: 5px;
		font-size: 1.25rem;
		resize: none;
		&:focus {
			outline: none;
		}
	}
}
