#Notes {
  padding: 3rem;
  min-height: 100vh;
  background: linear-gradient(
    245.53deg,
    rgba(249, 182, 162, 0) -37.22%,
    #f9b6a2 100.63%
  );
  img {
    position: absolute;
    bottom: -20px;
    right: 0;
  }
  .header,
  .subtitle {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(49, 49, 49);
    span {
      font-size: 3rem;
    }
  }
}
