// Styles for all Photos pages
#Photos,
#ForgottenThings,
#FriendsAndAdventures,
#DowntownAtlanta {
	height: 100vh;
	width: 100%;
	header {
		display: flex;
		justify-content: center;
		align-items: flex-start;
		flex-direction: column;
		width: 70%;
		padding: 3rem 0rem;
		margin: auto;
		h1 {
			font-family: "Lato", sans-serif;
			font-size: 3rem;
			font-weight: 200;
		}
		.flex-between {
			display: flex;
			justify-content: space-between;
			align-items: flex-end;
			width: 100%;
		}
		#GoBack {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		.all-volumes-button {
			width: 5rem;
			padding: 0.5rem 0rem;
			font-size: 1rem;
			background: #faabab;
			border: none;
			border-radius: 10px;
			color: white;
			margin-right: 1rem;
			cursor: pointer;
		}
	}
	.gallery {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
		padding: 2rem 0rem;
		width: 80%;
		margin: auto;
		row-gap: 5rem;
		column-gap: 3rem;
	}
	.gallery-img {
		img {
			width: 80%;
			height: 80%;
			object-fit: cover;
			/* Shadow */
			-webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2),
				0px 20px 40px rgba(0, 0, 0, 0.2);
			box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2),
				0px 20px 40px rgba(0, 0, 0, 0.2);
		}
	}
}

#PhotoHeaderUnderline {
	height: 7px;
	width: 100%;
	background: linear-gradient(90deg, #5d81dd 0%, #37efef 100%);
}

#VolumesGrid {
	width: 70%;
	margin: auto;
	margin-top: 2rem;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
	justify-items: center;

	.volume {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 12rem;
		width: 12rem;
		border-radius: 10px;
		background: rgb(22, 129, 148);
		text-align: left;
		padding: 0rem 1rem;
		margin-bottom: 2rem;
		cursor: pointer;
		span {
			font-family: "Exo 2", sans-serif;
			font-size: 2rem;
			font-weight: 100;
			color: white;
		}
	}
	.vol-one {
		background: url(../img/volume-covers/city-square.png);
	}
	.vol-two {
		background: url(../img/volume-covers/forgotten-things-square.png);
		background-repeat: no-repeat;
		background-position: center center;
	}
	.vol-three {
		background: url(../img/volume-covers/friends-adventure-square.png);
	}
}

//Media Queries

@media screen and (max-width: 415px) {
	.gallery {
		width: 100%;
	}
	.gallery-info p,
	.gallery-info a {
		margin: 0rem 1rem;
	}
}
