:root {
  --font-soft-black: #2d2d2d;
}
#Quotes {
  font-family: "Caveat", cursive;
  width: 100%;
  padding-bottom: 4rem;
  background: linear-gradient(180deg, #37b8ca 25.52%, #10255a 86.98%);
  background: lemonchiffon;
  color: var(--font-soft-black);
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 3rem;
    img {
      border-radius: 50%;
      border: 5px solid rgb(80, 193, 201);
      height: 30%;
      width: 30%;
    }
    h1 {
      font-size: 4rem;
      transform: translateY(-100px);
    }
    a {
      color: var(--font-soft-black);
      p {
        font-size: 1.15rem;
        margin-bottom: 0.5rem;
      }
    }
  }
}

#SayingsColumn {
  background: url(../img/paper-bg.jpg);
  box-shadow: -4px 0px 4px rgba(0, 0, 0, 0.25), 4px 4px 4px rgba(0, 0, 0, 0.25);
  width: 60%;
  margin: auto;
  padding: 1.5rem;
  padding-bottom: 3rem;
  color: var(--font-soft-black);
  p {
    font-size: 2rem;
    margin-bottom: 5rem;
  }
}

// @media screen and (max-width: 500px) {
//   #SayingsColumn {
//     width: 100%;
//   }
// }
