#Thoughts {
  padding: 3rem;
  min-height: 100vh;
  background: linear-gradient(
    245.53deg,
    rgba(249, 182, 162, 0) -37.22%,
    #f9b6a2 100.63%
  );
  .absolute-fern {
    position: absolute;
    bottom: -20px;
    right: 0;
    z-index: -1;
  }
  .header,
  .subtitle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(49, 49, 49);
    letter-spacing: 0.2em;
    span {
      font-size: 3rem;
    }
    a {
      color: rgb(47, 77, 112);
      cursor: pointer;
    }
  }
}

#ThoughtsCards {
  width: 50%;
  margin: auto;
  margin-top: 3rem;
  overflow-y: scroll;
  .thoughts-entry {
    margin-bottom: 6rem;
  }
  .date-time {
    margin-bottom: 1rem;
  }
  .content {
    p {
      line-height: 20px;
      letter-spacing: 0.1em;
    }
  }
}
